.container {
  min-height: 100vh;
  background: powderblue;
}

.list-group-item {
  cursor: pointer;
}

.completed li {
  text-decoration: underline;
}

.completed li.active {
  background: pink;
  border: 1px solid red;
}
